{{>layout/header}}
<!-- 바디 start -->
<style>
    #search-input::placeholder {
        color: white;
        opacity: 1; /* Firefox */
    }
</style>
<main class="main-size">
    <!-- 검색 배너 start -->
    <div class="div-container">
        {{#sessionUser}}
            {{#isEmployer}}
                <section class="section-body">
                    <div class="search-box-banner">
                        <div class="search-box">
                            <div style="width: 50%">
                                <form action="/resumes" method="get" class="form-inline">
                                    <div class="input-group rounded">
                                        <input id="search-input" type="text" name="keyword" placeholder="이력서 정보를 입력하세요.."
                                               class="form-control rounded-end" style="background: transparent; color: white" required/>
                                        <button type="submit" style="text-align: end">
                                            <i class="fa-solid fa-magnifying-glass icon-search" style="right: 30px; color: white"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            {{/isEmployer}}
        {{/sessionUser}}
        <!-- 검색 배너 end -->
        <div class="div-container">
            <!-- 바디 start -->
            <section>
                <div class="div-recommendation mb-20">추천 인재</div>
                <div class="div-recommendation-people">
                    <div onclick="location.href='/resume/1'">
                        <div class="user-image1"></div>
                        <div class="div-recommendation-text-1">잘부탁드립니다.
                            <span><a href="" class="text-body"><i class="fa-regular fa-star"></i></a></span>
                        </div>
                        <div class="div-recommendation-text-2">류재성</div>
                    </div>
                    <div onclick="location.href='/resume/1'">
                        <div class="user-image2"></div>
                        <div class="div-recommendation-text-1">열심히 하겠습니다.
                            <span><a href="" class="text-body"><i class="fa-regular fa-star"></i></a></span>
                        </div>
                        <div class="div-recommendation-text-2">장현정</div>
                    </div>
                    <div onclick="location.href='/resume/1'">
                        <div class="user-image3"></div>
                        <div class="div-recommendation-text-1">자기개발하는 개발자.
                            <span><a href="" class="text-body"><i class="fa-regular fa-star"></i></a></span>
                        </div>
                        <div class="div-recommendation-text-2">김성재</div>
                    </div>
                    <div onclick="location.href='/resume/1'">
                        <div class="user-image4"></div>
                        <div class="div-recommendation-text-1">밤새는 개발자.
                            <span><a href="" class="text-body"><i class="fa-regular fa-star"></i></a></span>
                        </div>
                        <div class="div-recommendation-text-2">이서현</div>
                    </div>
                    <div onclick="location.href='/resume/1'">
                        <div class="user-image5"></div>
                        <div class="div-recommendation-text-1">노력하는 인재입니다.
                            <span><a href="" class="text-body"><i class="fa-regular fa-star"></i></a></span>
                        </div>
                        <div class="div-recommendation-text-2">조정현</div>
                    </div>
                </div>
            </section>
            <hr>
            <div class="div-job-sector">
                <div>
                    <div class="div-recommendation">지역별</div>
                    <a class="text-body" name="address" href="?address=서울">서울</a>
                    <a class="text-body" name="address" href="?address=경기">경기</a>
                    <a class="text-body" name="address" href="?address=인천">인천</a>
                    <a class="text-body" name="address" href="?address=부산">부산</a>
                    <a class="text-body" name="address" href="?address=대구">대구</a>
                    <a class="text-body" name="address" href="?address=대전">대전</a>
                    <br>
                    <a class="text-body" name="address" href="?address=경남">경남</a>
                    <a class="text-body" name="address" href="?address=전남">전남</a>
                    <a class="text-body" name="address" href="?address=충남">충남</a>
                    <a class="text-body" name="address" href="?address=광주">광주</a>
                    <a class="text-body" name="address" href="?address=울산">울산</a>
                    <a class="text-body" name="address" href="?address=경북">경북</a>
                    <br>
                    <a class="text-body" name="address" href="?address=전북">전북</a>
                    <a class="text-body" name="address" href="?address=충북">충북</a>
                    <a class="text-body" name="address" href="?address=강원">강원</a>
                    <a class="text-body" name="address" href="?address=제주">제주</a>
                    <a class="text-body" name="address" href="?address=세종">세종</a>
                </div>
                <div>
                    <div class="div-recommendation">기술별</div>
                    <a class="text-body" name="skill" href="?skill=java">Java</a>
                    <a class="text-body" name="skill" href="?skill=javaScript">JavasSript</a>
                    <a class="text-body" name="skill" href="?skill=Spring">Spring</a>
                    <a class="text-body" name="skill" href="?skill=HTML">HTML</a>
                    <a class="text-body" name="skill" href="?skill=jQuery">JQuery</a>
                    <br>
                    <a class="text-body" name="skill" href="?skill=MySQL">MySQL</a>
                    <a class="text-body" name="skill" href="?skill=Flutter">Flutter</a>
                    <a class="text-body" name="skill" href="?skill=React">React</a>
                    <a class="text-body" name="skill" href="?skill=AWS">AWS</a>
                    <a class="text-body" name="skill" href="?skill=C">C</a>
                    <a class="text-body" name="skill" href="?skill=Basic">Basic</a>
                    <br>
                    <a class="text-body" name="skill" href="?skill=Flutter">Flutter</a>
                    <a class="text-body" name="skill" href="?skill=Python">Python</a>
                    <a class="text-body" name="skill" href="?skill=Linux">Linux</a>
                    <br>
                </div>
            </div>
            <hr>
            <div class="div-recommendation mb-20">구직자 정보</div>

            {{#page}}
                <div class="container mt-3">
                    <br>
                    <table class="table">
                        <th>이름</th>
                        <th>구직자 정보</th>
                        <th>이력서</th>
                        {{#resumeList}}
                            <tr>
                                <td class="div-recommendation-text-2">{{name}}</td>
                                <td>
                                    <div class="div-recommendation-text-1">{{career}}</div>
                                    <div class="div-recommendation-text-2">{{title}}</div>
                                </td>
                                <td>
                                    <button class="btn btn-outline-body" onclick="location.href='/resumes/{{id}}'">이력서보기
                                    </button>
                                </td>
                            </tr>
                        {{/resumeList}}
                    </table>
                    <div class="d-flex justify-content-center">
                        <ul class="pagination">
                            <li class="page-item {{^resumeList.hasPrevious}}disabled{{/resumeList.hasPrevious}}">
                                <a class="page-link" href="?page={{resumeList.pageable.previousOrFirst.pageNumber}}
                                ">Previous</a>
                            </li>
                            {{#pageList}}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{.}}">{{.}}</a>
                                </li>
                            {{/pageList}}
                            <li class="page-item {{^resumeList.hasNext}}disabled{{/resumeList.hasNext}}">
                                <a class="page-link" href="?page={{resumeList.pageable.next.pageNumber}}">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {{/page}}
        </div>
</main>
<!-- 바디 end -->
{{>layout/footer}}