{{>layout/header}}
<!-- 바디 start -->
<main class="main-card-container">
    {{#boardDetail}}
        <!-- sidenav LEFT start -->
        <div class="sidenav-container">
            <div class="sidenav">
                <!-- 수정 삭제 버튼 start -->
                {{#isBoardOwner}}
                    <div class="mb-3"> <!-- 수정 하기 -->
                        <button class="btn btn-secondary" data-bs-toggle="modal"
                                data-bs-target="#updateForm">
                            <i class="fa-regular fa-file-word icon-size"></i>
                        </button>
                    </div>
                    <div class="mb-3"> <!-- 삭제 하기 -->
                        <form action="/boards/{{id}}/delete" method="post">
                            <button class="btn btn-outline-secondary">
                                <i class="fa-regular fa-trash-can icon-size"></i>
                            </button>
                        </form>
                    </div>
                {{/isBoardOwner}}
                <!-- 수정 삭제 버튼 end -->
                <!-- 구독하기 버튼 start -->
                {{^isBoardOwner}}
                    {{^sessionUser.isEmployer}}
                        {{^hasSubscribed}}
                            <div class="mb-3"> <!-- 구독 -->
                                <form action="/boards/{{id}}/subscribe" method="post">
                                    <button class="btn btn-outline-dark">
                                        <i class="fa-regular fa-bookmark icon-size"></i>
                                    </button>
                                </form>
                            </div>
                        {{/hasSubscribed}}
                        {{#hasSubscribed}}
                            <div class="mb-3"> <!-- 구독 취소 -->
                                <form action="/boards/{{id}}/unsubscribe" method="post">
                                    <input type="hidden" name="fromSubscription" value="false">
                                    <button class="btn btn-outline-dark">
                                        <i class="fa-solid fa-bookmark icon-size"></i>
                                    </button>
                                </form>
                            </div>
                        {{/hasSubscribed}}
                    {{/sessionUser.isEmployer}}
                {{/isBoardOwner}}
                <!-- 구독하기 버튼 end -->
            </div>
        </div>
        <!-- sidenav LEFT end -->
        <!-- card start -->
        <div class="card div-card">
            <div class="card-header card-title">
                <h3>{{title}}</h3>
            </div>
            <div class="card-body" style=" margin-left: 5%; margin-right: 5%">
                <h4 class="card-title">조건</h4>
                <table class="table">
                    <tr>
                        <td>근무 지역</td>
                        <td>{{address}}</td>
                    </tr>
                    <tr>
                        <td>채용 분야</td>
                        <td>{{field}}</td>
                    </tr>
                    <tr>
                        <td>포지션</td>
                        <td>{{position}}</td>
                    </tr>
                    <tr>
                        <td>연봉</td>
                        <td>{{salary}}</td>
                    </tr>
                </table>
                <h4 class="card-title">우대 스킬</h4>
                <div class="form-control mb-3">
                    {{#skillList}}
                        <btn class="btn btn-light">{{skillName}}</btn>
                    {{/skillList}}
                    {{^skillList}}
                        <btn class="btn btn-outline-light form-control">없음</btn>
                    {{/skillList}}
                </div>
                <h4 class="card-title">상세 내용</h4>
                <div class="form-control mb-3" style="height: 300px">{{content}}</div>
                <h4 class="card-title">연락처</h4>
                <table class="table">
                    <tr>
                        <td>전화</td>
                        <td>{{phoneNumber}}</td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td>{{email}}</td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <table class="table table-borderless">
                    <tr>
                        <td style="background-color: transparent; text-align: end">게시일</td>
                        <td style="background-color: transparent">{{openingDate}}</td>
                        <td style="background-color: transparent; text-align: end">마감일</td>
                        <td style="background-color: transparent">{{closingDate}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- card end -->
        <!-- sidenav RIGHT start -->
        <div class="sidenav-container">
            <div class="sidenav">
                <div class="card" style="width:200px">
                    <div class="card-body" style="padding-left: 0; padding-right: 0">
                        <div class="card-title">
                            <!-- 평점 start -->
                            {{#rating}}
                                <table class="table">
                                    <tr>
                                        <td style="text-align: end; padding-bottom: 0; padding-top: 0">평점 ⭐</td>
                                        <td style="text-align: start; padding-bottom: 0; padding-top: 0">{{rating}}</td>
                                    </tr>
                                </table>
                            {{/rating}}
                            <!-- 평점 end -->
                        </div>
                        <!-- 사진 start -->
                        {{#pic}}
                            <img class="card-img-top" src="/upload/{{imgFilename}}" style="width:100%">
                        {{/pic}}
                        {{^pic}}
                            <img class="card-img-top" src="../images/{{businessName}}.jpg"
                                 onerror="this.onerror=null; this.src='../images/chaeyong.jpg';" style="width:100%">
                        {{/pic}}
                        <!-- 사진 end -->
                        <h4 class="card-title text-center">{{businessName}}</h4>
                    </div>
                    <div class="card-footer" style="text-align: center;">
                        {{^sessionUser.isEmployer}}
                        <!-- 평가 버튼 start -->
                            {{^hasRated}}
                                <form action="/boards/{{id}}/rate" method="post">
                                    <div>
                                        <select name="rating" style="text-align: center; width: 100%">
                                            <option value="1">1점</option>
                                            <option value="2">2점</option>
                                            <option value="3">3점</option>
                                            <option value="4">4점</option>
                                            <option value="5">5점</option>
                                        </select>
                                        <div align="right">
                                            <button class="btn btn-outline-dark btn-sm"
                                                    style="width: 100%; margin-top: 5px">
                                                평가하기
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            {{/hasRated}}
                            <!-- 평가 버튼 end -->
                            <div class="mt-3"> <!-- 지원하기 버튼 -->
                                <form action="/boards/{{id}}/apply-form" method="get">
                                    <button class="btn btn-primary form-control">지원</button>
                                </form>
                            </div>
                        {{/sessionUser.isEmployer}}
                    </div>
                </div>
            </div>
        </div>
        <!-- sidenav RIGHT end -->
    {{/boardDetail}}
</main>
<!-- 바디 end -->
{{>layout/footer}}
<!-- modal start -->
<!-- modal :: updateForm start -->
{{#boardDetail}}
    <div class="modal fade" id="updateForm" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <form action="/boards/{{id}}/update" method="post">
                    <div class="modal-header card-title">
                        <h2>채용 공고 수정</h2>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td>공고 제목</td>
                                <td><input name="title" type="text" class="form-control" value="{{title}}"></td>
                            </tr>
                            <tr>
                                <td>채용 분야</td>
                                <td>
                                    <input name="field" type="text" class="form-control" value="{{field}}">
                                </td>
                            </tr>
                            <tr>
                                <td>포지션</td>
                                <td>
                                    <input name="position" type="text" class="form-control" value="{{position}}">
                                </td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td>
                                    <textarea name="content" class="form-control"
                                              style="height: 300px">{{content}}</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>연봉</td>
                                <td>
                                    <input name="salary" type="text" class="form-control" value="{{salary}}">
                                </td>
                            </tr>
                            <tr>
                                <td>게시일</td>
                                <td>
                                    <input name="openingDate" type="date" class="form-control" value="{{openingDate}}">
                                </td>
                            </tr>
                            <tr>
                                <td>마감일</td>
                                <td>
                                    <input name="closingDate" type="date" class="form-control" value="{{closingDate}}">
                                </td>
                            </tr>
                        </table>
                        <br>
                        <h4 class="card-title">요구 스킬</h4>
                        <div class=form-control style="display: flex; justify-content: space-evenly">
                            <table class="table">
                                <tr>
                                    <td><input type="checkbox" name="skill" value="java"><span>Java</span></td>
                                    <td><input type="checkbox" name="skill" value="javaScript"><span>JavaScript</span>
                                    </td>
                                    <td><input type="checkbox" name="skill" value="Spring"><span>Spring</span></td>
                                    <td><input type="checkbox" name="skill" value="HTML"><span>HTML</span></td>
                                    <td><input type="checkbox" name="skill" value="jQuery"><span>JQuery</span></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="skill" value="MySQL"><span>MySQL</span></td>
                                    <td><input type="checkbox" name="skill" value="Flutter"><span>Flutter</span></td>
                                    <td><input type="checkbox" name="skill" value="React"><span>React</span></td>
                                    <td><input type="checkbox" name="skill" value="AWS"><span>AWS</span></td>
                                    <td><input type="checkbox" name="skill" value="C"><span>C</span></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="skill" value="Basic"><span>Basic</span></td>
                                    <td><input type="checkbox" name="skill" value="Python"><span>Python</span></td>
                                    <td><input type="checkbox" name="skill" value="Linux"><span>Linux</span></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <div class="button-post-cancel">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-outline-dark">등록</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/boardDetail}}
<!-- modal :: updateForm end -->
<!-- modal end -->
