<!-- modal :: skillForm start -->
<div class="modal fade" id="skillForm" tabindex="-1">
    <div class="modal-dialog">
        <form action="/boards" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">다중 검색 (기능 미구현)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 class="card-title">검색 조건</h4>
                    <table class="table">
                        <tr>
                            <td>
                                <div>C</div>
                            </td>
                            <td style="text-align: center">
                                <input type="checkbox" name="skill" value="C">
                            </td>
                            <td>
                                <div>Java</div>
                            </td>
                            <td style="text-align: center">
                                <input type="checkbox" name="skill" value="Java">
                            </td>
                            <td>
                                <div>Python</div>
                            </td>
                            <td style="text-align: center">
                                <input type="checkbox" name="skill" value="Python">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>Linux</div>
                            </td>
                            <td style="text-align: center">
                                <input type="checkbox" name="skill" value="Linux">
                            </td>
                            <td>
                                <div>MySQL</div>
                            </td>
                            <td style="text-align: center">
                                <input type="checkbox" name="skill" value="MySQL">
                            </td>
                            <td>
                                <div>Spring</div>
                            </td>
                            <td style="text-align: center">
                                <input type="checkbox" name="skill" value="Spring">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>HTML&CSS</div>
                            </td>
                            <td style="text-align: center">
                                <input type="checkbox" name="skill" value="HTML">
                            </td>
                            <td>
                                <div>javaScript</div>
                            </td>
                            <td style="text-align: center">
                                <input type="checkbox" name="skill" value="javaScript">
                            </td>
                            <td>
                                <div>jQuery</div>
                            </td>
                            <td style="text-align: center">
                                <input type="checkbox" name="skill" value="jQuery">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>AWS</div>
                            </td>
                            <td style="text-align: center">
                                <input type="checkbox" name="skill" value="AWS">
                            </td>
                            <td>
                                <div>JSP</div>
                            </td>
                            <td style="text-align: center">
                                <input type="checkbox" name="skill" value="JSP">
                            </td>
                            <td>
                                <div>Flutter</div>
                            </td>
                            <td style="text-align: center">
                                <input type="checkbox" name="skill" value="Flutter">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>React</div>
                            </td>
                            <td style="text-align: center">
                                <input type="checkbox" name="skill" value="React">
                            </td>
                            <td>
                                <div>Node.js</div>
                            </td>
                            <td style="text-align: center">
                                <input type="checkbox" name="skill" value="Node.js">
                            </td>
                            <td>
                                <div>Vue.js</div>
                            </td>
                            <td style="text-align: center">
                                <input type="checkbox" name="skill" value="Vue.js">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>Swift</div>
                            </td>
                            <td style="text-align: center">
                                <input type="checkbox" name="skill" value="Swift">
                            </td>
                            <td>
                                <div>Kotlin</div>
                            </td>
                            <td style="text-align: center">
                                <input type="checkbox" name="skill" value="Kotlin">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">완료</button>
                    <!--<button type="submit" class="btn btn-primary">완료</button>-->
                </div>
            </div>
        </form>
    </div>
</div>
<!-- modal :: skillForm end -->