{{>layout/header}}
<style>
    .join-select {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
    }
</style>
<div style="display: flex; justify-content: center">

</div>
<!-- 바디 end -->
{{>layout/footer}}