{{>layout/header}}
<!-- 바디 start -->
<main class="main-size">
    <div class="div-body">
        <div class="div-layout" style="height: 600px">
            <div class="d-flex justify-content-between">
                <h5>안녕하세요, {{sessionUser.name}}님</h5>
                <div style="display: flex; justify-content: space-evenly; width: 150px">
                    <form action="/users/{{sessionUser.id}}/update-form"> <!-- 수정 하기 -->
                        <button class="btn btn-outline-warning">
                            <i class="fa-solid fa-user-pen icon-size"></i>
                        </button>
                    </form>
                    <form action="/users/{{sessionUser.id}}/delete"> <!-- 탈퇴 하기 -->
                        <button class="btn btn-outline-danger">
                            <i class="fa-solid fa-user-xmark icon-size"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="div-information">
                <div class="div-information-grid">
                    <div class="card mt-5" style="width:200px">
                        {{#rating}}
                            <table class="table borderless">
                                <tr>
                                    <td style="text-align: end; padding-bottom: 0; padding-top: 0">평점 ⭐</td>
                                    <td style="text-align: start; padding-bottom: 0; padding-top: 0">{{rating}}</td>
                                </tr>
                            </table>
                        {{/rating}}
                        {{#user.isEmployer}}
                            <div>
                                {{#pic}}
                                    <img class="card-img" src="/upload/{{imgFilename}}" style="width:100%;">
                                {{/pic}}
                                {{^pic}}
                                    <img class="card-img" src="../images/{{user.businessName}}.jpg"
                                         onerror="this.src='../../images/chaeyong.jpg'" style="width:100%;">
                                {{/pic}}
                            </div>
                            <div class="card-body">
                                <h4>{{user.businessName}}</h4>
                            </div>
                            <div class="card-footer">
                                <div style="display: grid; grid-template-columns: 1fr 1fr; grid-column-gap: 10px">
                                    {{#pic}}
                                        <form action="/deleteImg" method="post">
                                            <input type="hidden" name="userId" value="{{pic.userId}}">
                                            <button class="btn btn-primary">삭제</button>
                                        </form>
                                    {{/pic}}
                                    {{^pic}}
                                        <form action="/upload-form/{{user.id}}" method="get">
                                            <button class="btn btn-outline-primary">
                                                <i class="fa-solid fa-plus icon-size"></i>
                                            </button>
                                        </form>
                                    {{/pic}}
                                </div>
                            </div>
                        {{/user.isEmployer}}
                        {{^user.isEmployer}}
                            {{#userPic}}
                                <img class="card-img" src="/upload/{{userPic.imgFilename}}" style="width:100%">
                            {{/userPic}}
                            {{^userPic}}
                                {{#userPic2}}
                                    <img class="card-img" src="/upload/{{userPic2}}"
                                         onerror="this.src='../images/avatar.png'" style="width:100%">
                                {{/userPic2}}
                                {{^userPic2}}
                                    <img class="card-img" src="../images/avatar.png" style="width:100%">
                                {{/userPic2}}
                            {{/userPic}}
                            <div class="card-body">
                                <h4>{{user.name}}</h4>
                            </div>
                            <div class="card-footer">
                                <div style="display: grid; grid-template-columns: 1fr 1fr; grid-column-gap: 10px">
                                    {{^userPic}}
                                        <form action="/upload-form/{{user.id}}" method="get"> <!-- 사진 등록 -->
                                            <button class="btn btn-primary">
                                                <i class="fa-solid fa-plus icon-size"></i>
                                            </button>
                                        </form>
                                    {{/userPic}}
                                    {{#userPic}}
                                        <form action="/deleteImg" method="post"> <!-- 사진 삭제 -->
                                            <input type="hidden" name="userId" value="{{userPic.userId}}">
                                            <button class="btn btn-outline-primary">
                                                <i class="fa-solid fa-minus icon-size"></i>
                                            </button>
                                        </form>
                                    {{/userPic}}
                                </div>
                            </div>
                        {{/user.isEmployer}}
                    </div>
                </div>
                <div>
                    <table class="table">
                        <thead>
                        {{#user.isEmployer}}
                            <tr>
                                <th><h3>기업정보</h3></th>
                            </tr>
                        {{/user.isEmployer}}
                        {{^user.isEmployer}}
                            <tr>
                                <th><h3>개인정보</h3></th>
                            </tr>
                        {{/user.isEmployer}}
                        </thead>
                        <tbody>
                        <tr>
                            <th>아이디</th>
                            <td>{{user.username}}</td>
                        </tr>
                        <tr>
                            <th>이름</th>
                            <td>{{user.name}}</td>
                        </tr>
                        <tr>
                            <th>생년월일</th>
                            <td>{{user.birthdate}}</td>
                        </tr>
                        <tr>
                            <th>성별</th>
                            <td>{{user.gender}}</td>
                        </tr>
                        <tr>
                            <th>휴대전화</th>
                            <td>{{user.phoneNumber}}</td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td>{{user.address}}</td>
                        </tr>
                        <tr>
                            <th>E-MAIL</th>
                            <td>{{user.email}}</td>
                        </tr>
                        {{#user.isEmployer}}
                            <tr>
                                <th>사업자번호</th>
                                <td>{{user.employerIdNumber}}</td>
                            </tr>
                            <tr>
                                <th>회사명</th>
                                <td>{{user.businessName}}</td>
                            </tr>
                        {{/user.isEmployer}}
                        </tbody>
                    </table>
                    <!-- 기업
                        <div class="form-control">
                            <div class="mb-3"><b>희망 기술 스택</b></div>
                            <div>
                                {{#skillList}}
                                    <span>{{skillName}}</span>
                                {{/skillList}}
                        {{^skillList}}
                                    <form action="/users/{{sessionUser.id}}/update-form">
                                        <button class="btn btn-outline-primary form-control">추가하기</button>
                                    </form>
                                {{/skillList}}
                            </div>
                        </div>
                        -->
                    <!-- 개인
                    <div class="form-control">
                        <div class="mb-3"><b>보유 기술 스택</b></div>
                        <div>
                            {{#skillList}}
                                <span>{{skillName}}</span>
                            {{/skillList}}
                        {{^skillList}}
                                <form action="/users/{{sessionUser.id}}/update-form">
                                    <button class="btn btn-outline-primary form-control">추가하기</button>
                                </form>
                            {{/skillList}}
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
        {{#user.isEmployer}}
            <!-- 내 공고 보기 -->
            <div class="div-layout">
                <div class="div-header d-flex justify-content-between">
                    <h3><b>공고 관리</b></h3>
                    <form action="/boards/upload-form" method="get" class="justify-content-end">
                        <button class="btn btn-primary">추가</button>
                    </form>
                </div>
                <div class="div-announcement">
                    <table class="table table-hover" style="text-align: center">
                        <tr>
                            <th>포지션</th>
                            <th>채용 분야</th>
                            <th>공고 제목</th>
                            <th>게시일</th>
                            <th></th>
                        </tr>
                        {{#user.boardList}}
                            <tr>
                                <td>{{position}}</td>
                                <td>{{field}}</td>
                                <td><a href="/boards/{{id}}">{{title}}</a></td>
                                <td>{{openingDate}}</td>
                                <td>
                                    <div style="display: flex; justify-content: space-evenly">
                                        <form action="/users/{{sessionUser.id}}/{{id}}" method="get">
                                            <button class="btn btn-outline-primary">지원자</button>
                                        </form>
                                        <form action="/boards/{{id}}/update" method="post">
                                            <button class="btn btn-primary">삭제</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {{/user.boardList}}
                    </table>
                </div>
            </div>
        {{/user.isEmployer}}
        {{^user.isEmployer}}
            <!--내 이력서 보기-->
            <div class="div-layout">
                <div class="div-header d-flex justify-content-between">
                    <h2><b>나의 이력서</b></h2>
                    <form action="/resumes/upload-form" method="get">
                        <button class="btn btn-primary">추가</button>
                    </form>
                </div>
                <div class="div-resume">
                    <table class="table table-hover" style="text-align: center">
                        <tr>
                            <td>제목</td>
                            <td>게시일자</td>
                            <td></td>
                        </tr>
                        {{#user.resumeList}}
                            <tr>
                                <td><a href="/resumes/{{id}}">{{title}}</a></td>
                                <td>{{createdAt}}</td>
                                <td>
                                    <div style="display: flex; justify-content: end">
                                        <form action="/resumes/{{id}}/update-form">
                                            <button class="btn btn-outline-primary">수정</button>&nbsp;
                                        </form>
                                        <form action="/resumes/{{id}}/delete" method="post">
                                            <button class="btn btn-primary">삭제</button>
                                        </form>
                                        <!--공고별 지원 현황 보기?-->
                                    </div>
                                </td>
                            </tr>
                        {{/user.resumeList}}
                    </table>
                </div>
            </div>
        {{/user.isEmployer}}
        {{#user.isEmployer}}
            <div class="div-layout">
                <div class="div-header d-flex justify-content-between">
                    <h3><b>지원자 리스트</b></h3>
                    <form action="/users/{{sessionUser.id}}" method="get" class="justify-content-end">
                        <button class="btn btn-primary">전체</button>
                    </form>
                </div>
                <table class="table table-hover" style="text-align: center">
                    <tr>
                        <th>공고 제목</th>
                        <th>지원자 명</th>
                        <th>이력서 제목</th>
                        <th>지원 날짜</th>
                        <th></th>
                    </tr>
                    {{#applicationList}}
                        <tr>
                            <td><a href="/boards/{{boardId}}">{{boardTitle}}</a></td>
                            <td>{{applicantName}}</td>
                            <td><a href="/resumes/{{resumeId}}">{{resumeTitle}}</a></td>
                            <td>{{appliedAt}}</td>
                            <td>
                                <div style="display: flex; justify-content: space-evenly">
                                    {{#statusOutput}}
                                        <div>{{statusOutput}}</div>
                                    {{/statusOutput}}
                                    {{^statusOutput}}
                                        <form action="/apply/update" method="post">
                                            <input name="status" type="hidden" value="0">
                                            <input name="resumeId" type="hidden" value="{{resumeId}}">
                                            <input name="boardId" type="hidden" value="{{boardId}}">
                                            <button class="btn btn-outline-danger">불합격</button>
                                        </form>
                                        <form action="/apply/update" method="post">
                                            <input name="status" type="hidden" value="1">
                                            <input name="resumeId" type="hidden" value="{{resumeId}}">
                                            <input name="boardId" type="hidden" value="{{boardId}}">
                                            <button class="btn btn-outline-primary">합격</button>
                                        </form>
                                    {{/statusOutput}}
                                </div>
                            </td>
                        </tr>
                    {{/applicationList}}
                </table>
            </div>
        {{/user.isEmployer}}
        {{^user.isEmployer}}
            <div class="div-layout">
                <div class="div-header d-flex justify-content-between" style="text-align: end">
                    <h2><b>나의 지원현황</b></h2>
                    <!--전체 보기 버튼?-->
                </div>
                <div class="div-resume">
                    <table class="table table-hover" style="text-align: center">
                        <tr>
                            <th>이력서 제목</th>
                            <th>회사명</th>
                            <th>공고 제목</th>
                            <th>지원 날짜</th>
                            <th></th>
                        </tr>
                        {{#applyList}}
                            <tr>
                                <td><a href="/resumes/{{resumeId}}">{{resumeTitle}}</a></td>
                                <td>{{businessName}}</td>
                                <td><a href="/boards/{{boardId}}">{{boardTitle}}</a></td>
                                <td>{{appliedAt}}</td>
                                <td>
                                    <div style="display: flex; justify-content: space-evenly">
                                        {{#statusOutput}}
                                            <div>{{statusOutput}}</div>
                                        {{/statusOutput}}
                                        {{^statusOutput}}
                                            <div>대기중</div>
                                        {{/statusOutput}}
                                    </div>
                                </td>
                            </tr>
                        {{/applyList}}
                    </table>
                </div>
            </div>
        {{/user.isEmployer}}
    </div>
</main>
<!-- 바디 end -->
{{>layout/footer}}