{{>layout/header}}
<!-- 바디 start -->
<div class="div-card-container">
    {{#user}}
        <div class="card div-card">
            <div class="card-header" style="text-align: end">
                {{#isEmployer}}
                    <b>기업 정보 수정</b>
                {{/isEmployer}}
                {{^isEmployer}}
                    <b>회원 정보 수정</b>
                {{/isEmployer}}
            </div>
            <div class="card-body">
                <form action="/users/{{id}}/update" method="post" enctype="application/x-www-form-urlencoded"
                      onsubmit="return true">
                    <div style="text-align: end"><h4>기본 정보 수정</h4></div>
                    <div>아이디</div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" value="{{username}}"
                               style="background: #dee2e6" readonly>
                    </div>
                    <div>비밀번호</div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="{{password}}"
                               value="{{password}}">
                    </div>
                    <div style="text-align: end"><h4>개인 정보 수정</h4></div>
                    <div>이름</div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="name" value="{{name}}"
                               style="background: #dee2e6" readonly>
                    </div>
                    <div>생년월일</div>
                    <div class="mb-3">
                        <input type="date" class="form-control" name="birthdate" value="{{birthdate}}"
                               style="background: #dee2e6" readonly>
                    </div>
                    <div>성별</div>
                    <div class="mb-3" style="display: grid; grid-template-columns: 1fr 1fr">
                        <div style="display: flex; justify-content: center">
                            <span>남자</span>
                            <input type="radio" name="gender" id="gender" value='M' required>
                        </div>
                        <div style="display: flex; justify-content: center">
                            <span>여자</span>
                            <input type="radio" name="gender" id="gender" value='F' required>
                        </div>
                    </div>
                    <div>휴대전화</div>
                    <div class="mb-3">
                        <input type="tel" class="form-control" name="phoneNumber" value="{{phoneNumber}}" required>
                    </div>
                    <div>주소</div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="address" value="{{address}}">
                    </div>
                    <div>이메일</div>
                    <div class="mb-3">
                        <input type="email" class="form-control" name="email" value="{{email}}">
                    </div>
                    {{#isEmployer}}
                        <div style="text-align: end"><h4>기업 정보 수정</h4></div>
                        <div>사업자번호</div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="employerIdNumber" value="{{employerIdNumber}}"
                                   required>
                        </div>
                        <div>회사명</div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="businessName" value="{{businessName}}"
                                   required>
                        </div>
                    {{/isEmployer}}
                    </table>
                    <button type="submit" class="btn btn-primary form-control mt-5">수정 완료</button>
                </form>
            </div>
        </div>
    {{/user}}
</div>
<!-- 바디 end -->
{{>layout/footer}}